
<div class="funddetail" ng-controller="publicdetailController as vm">
    <a class="back-link" ui-sref="main.publicproject">&lt;&lt;返回项目列表</a>
    <div class="funddetail-box" ng-init="vm.loaddetail()">
        <h2>
            <div>{{vm.project.projectName}}</div>
            <div><span class="tag" ng-repeat="item in vm.tags">{{item}}</span></div>
            <div>{{vm.project.categoryName}}</div>
            <div>{{vm.project.areaName}}</div>
            <div>{{vm.project.roundName}}</div>
            <button  class="frozen-fund btn2 bgc-ju" ng-click="vm.ownProject()">加入私海</button>
        </h2>
        <ul class="detail-list">
            <li class="list1"  ng-class="{active:vm.index == 0}">
                <p ng-click="vm.show1()">基本信息</p>
                <i class="list-after"></i>
            </li>
            <li  class="list2"  ng-class="{active:vm.index == 1}">
                <i class="list-before"></i>
                <p ng-click="vm.show2()">创业团队</p>
                <i class="list-after"></i>
            </li>
            <li  class="list3"  ng-class="{active:vm.index == 2}">
                <i class="list-before"></i>
                <p ng-click="vm.show3()">意向信息</p>
                <i class="list-after"></i>
            </li>
            <li  class="list4" ng-class="{active:vm.index == 3}">
                <i class="list-before"></i>
                <p ng-click="vm.show4()">文件附件</p>
                <i class="list-after"></i>
            </li>
        </ul>
        <ul class="detail-box">
            <li class="detail-box1" ng-show="vm.index==0">
                <ul class="detail-box1-top">
                    <li><p class="left">项目描述</p><p class="right">{{ vm.project.description }}</p></li>
                    <li><p class="left">市场规模</p><p class="right">{{vm.project.market}}</p></li>
                    <li><p class="left">商业模式</p><p class="right">{{vm.project.businessModel}}</p></li>
                    <li><p class="left">竞品信息</p><p class="right">{{vm.project.competitive}}</p></li>
                    <li><p class="left">股权结构</p><p class="right">{{vm.project.options}}</p></li>
                </ul>
            </li>
            <li class="detail-box2" ng-show="vm.index==1">
                <div class="detail-box1-bottom">
                    <div class="content">
                        <h2>创业团队信息</h2>
                        <table class="table table-border">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>电话</th>
                                <th>微信</th>
                                <th>邮箱</th>
                                <th>教育</th>
                                <th>履历</th>
                                <th>头衔</th>
                            </tr>
                            </thead>
                            <tboby>
                                <tr ng-repeat="founder in vm.founderlist">
                                    <td>{{founder.name}}</td>
                                    <td>{{founder.phone}}</td>
                                    <td>{{founder.wechat}}</td>
                                    <td>{{founder.email}}</td>
                                    <td>{{founder.education}}</td>
                                    <td>{{founder.workEx}}</td>
                                    <td>{{founder.title}}</td>
                                </tr>
                            </tboby>
                        </table>
                    </div>
                </div>
            </li>
            <li class="detail-box3" ng-show="vm.index==2">
                <div class="detail-box1-bottom">
                    <div class="content">
                        <h2>意向信息</h2>
                        <table class="table table-border">
                            <thead>
                            <tr>
                                <th>轮次</th>
                                <th>融资额度</th>
                                <th>货币类型</th>
                                <th>出让比例</th>
                                <th>估值</th>
                                <th>添加时间</th>
                            </tr>
                            </thead>
                            <tbody ng-show="vm.intentioninvest">
                            <tr>
                                <td>{{vm.intentioninvest.roundName}}</td>
                                <td>{{vm.intentioninvest.money | moneydesc}}</td>
                                <td>{{vm.intentioninvest.moneyType | moneyTypedesc }}</td>
                                <td>{{vm.intentioninvest.percentage | percentage }}</td>
                                <td>{{vm.intentioninvest.value | moneydesc}}</td>
                                <td>{{vm.intentioninvest.timeAdded}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li class="detail-box4" ng-show="vm.index==3">
                <div class="detail-box1-bottom">
                    <div class="content">
                        <h2>文件附件信息</h2>
                        <table class="table table-border">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>描述</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="file in vm.filelist">
                                <td><a href="{{file.projectFileId | projFileUrl}}">{{file.name}}</a></td>
                                <td>{{file.description}}</td>
                                <td>{{file.timeAdded}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="flr">
                            <uib-pagination total-items="vm.total" ng-model="vm.pageNumber"
                                            items-per-page="vm.pageSize" max-size="7"  boundary-link-numbers="true"
                                            ng-change="vm.showfile()" previous-text="上一页"
                                            next-text="下一页"></uib-pagination>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>